[flake8]
max-line-length = 79
extend-ignore =
    # missing docstring in public method
    D105
    # line break occurred before a binary operator
    W503
    # whitespace before semicolon
    E203
doctests = True
extend-exclude = 
    # migrations of the Django database
    /*/migrations/*
    # testing scripts
    /*/tests/*

ban-relative-imports = true

# List of error codes:
# http://www.pydocstyle.org/en/2.1.1/error_codes.html
# https://lintlyci.github.io/Flake8Rules/
